.translator-invitation {
	background: none;
	position: relative;
	padding: 24px 18px 0;
	margin-bottom: 66px;
	box-shadow: none;
	// Copy max-width and auto margin settings from .main
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
	&:before {
		content: '';
		position: absolute;
			top: 100%;
			left: 0;
			right: 0;
		height: 1px;
		margin-top: 35px;
		z-index: z-index( 'root', '.translator-invitation:before' );
		background: linear-gradient( to right, fade-out( lighten( $gray, 20% ), 1 ) 0%, lighten( $gray, 20% ) 20%, lighten( $gray, 20% ) 80%, fade-out( lighten( $gray, 20% ), 1 ) 100% );
	}
	.close-button {
		padding: 6px;
	}
	.translator-invitation__decoration {
		// copied from noticons styling
		background-color: $gray-light;
		color: $gray;
		height: 22px;
		margin-left: -11px;
		margin-top: 24px;
		position: absolute;
			top: 100%;
			left: 50%;
		speak: none;
		padding: 0 8px;
		visibility: visible;
	}
}

.translator-invitation__title {
	@extend %heading;
	color: $gray-dark;
	font-family: $serif;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	margin: 0 0 12px;
}

.translator-invitation__primary-content {
	font-size: 16px;
	line-height: 24px;
	.button {
		display: block;
		width: 100%;
		padding: 12px 24px;
		margin-bottom: 8px;
		text-align: center;
	}
}

.translator-invitation__secondary-content {
	flex-direction: column;
}

.translator-invitation__intro {
	flex-grow: 100%;
	margin-bottom: 20px;
}

.translator-invitation__link {
	color: $blue-medium;
	text-shadow: 1px 0 lighten( $gray, 30% ), 2px 0 lighten( $gray, 30% ), -1px 0 lighten( $gray, 30% ), -2px 0 lighten( $gray, 30% );
	background-image: linear-gradient( to bottom, transparent 50%, $blue-medium 50% );
	background-repeat: repeat-x;
	background-size: 2px 2px;
	background-position: 0 85%;
}

.translator-invitation__actions {
	flex-grow: 100%;
	> .button:last-child {
		margin-right: 0;
	}
}

@include breakpoint( ">660px" ) {
	.translator-invitation {
		padding: 12px 0 0;
	}

	.translator-invitation__title {
		clear: none;
	}

	.translator-invitation__primary-content {
		margin-bottom: 0;
		.button {
			display: inline-block;
			width: auto;
			margin-bottom: 0px;
			padding: 7px 24px;
			margin-right: 12px;
		}
	}

	.translator-invitation__intro {
		flex: 0 1 auto;
		margin-bottom: 0px;
	}

	.translator-invitation__actions {
		flex: 0 0 auto;
		margin-left: 2%;
	}

	.translator-invitation__secondary-content {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
}
